<h1>Bienvenue 🔥</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Heure</th>
        <th>Technicien</th>
        <th>Gasoil 1</th>
        <th>Gasoil 2</th>
    </tr>

    <tr th:each="d : ${data}">
        <td th:text="${d.id}"></td>
        <td th:text="${d.date}"></td>
        <td th:text="${d.heureDebut}"></td>
        <td th:text="${d.technicien}"></td>
        <td th:text="${d.gasoilCiterne1}"></td>
        <td th:text="${d.gasoilCiterne2}"></td>
    </tr>
</table>